@model lengkeng.Models.Category

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section TitleSection{
    Details Category
}

@section HeaderSection{

}
@section ContentBody{
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Thông tin chi tiết của danh mục</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->


    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CategoryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CategoryName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Thumbnail)
            </dt>

            <dd>
                @*@Html.DisplayFor(model => model.ThumbnailPath)*@
                <img src="@Model.Thumbnail" alt="thumbnail" />
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsDelete)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsDelete)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Sửa", "Edit", new { id = Model.CategoryId }) |
        @Html.ActionLink("Trở lại danh sách", "Index")
    </p>
}