@model IEnumerable<lengkeng.Models.Category>

@section TitleSection{
    View Categories
}

@section HeaderSection{
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
}

@section ContentBody{
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Index</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->


    <p>
        @Html.ActionLink("Tạo mới một danh mục", "Create")
    </p>
    <br/>
    <table class="table" id="datatable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Thumbnail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsDelete)
                </th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Thumbnail)
                    @*<img src="@item.ThumbnailPath" alt="thumbnail"/>*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDelete)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.CategoryId }) |
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.CategoryId }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.CategoryId })
                </td>
            </tr>
        }

    </table>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').DataTable();
        });
    </script>
}