@model IEnumerable<lengkeng.Models.Service>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section TitleSection{
    View Item
}

@section HeaderSection{
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
}

@section ContentBody{
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dịch Vụ</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
<p>
    @Html.ActionLink("Tạo Dịch Vụ Mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Info)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Info)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.Id }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
    }