@model lengkeng.Models.About

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section TitleSection{
    Delete
}

@section HeaderSection{

}
@section ContentBody{
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Xóa tài khoản</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <h3>Bạn có chắc chắn muốn xóa About này không?</h3>
    <div>
        <h4>About</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.content)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.content)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Thumbnails)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Thumbnails)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsDelete)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsDelete)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Trở lại danh sách", "Index")
            </div>
        }
    </div>
}