@model lengkeng.Models.Feature

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section TitleSection{
    Create Feature
}

@section HeaderSection{

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
@section ContentBody{
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Tạo mới một slide</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <form action="/Feature/Create" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })*@
                    <textarea name="Description" class="form-control" id="Description" rows="10" value="" tyle="max-width: 280px; width: 100%;"></textarea>
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Ảnh Nền:</label>
                <div class="col-md-10">
                    <input type="file" class="form-control" name="BackgroundImage" accept="image/*" required>
                    @Html.ValidationMessageFor(model => model.BackgroundImage, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Ảnh Phụ 1:</label>
                <div class="col-md-10">
                    <input type="file" class="form-control" name="ThumbnailPath1" accept="image/*" >
                    @Html.ValidationMessageFor(model => model.ThumbnailPath1, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Ảnh Phụ 2:</label>
                <div class="col-md-10">
                    <input type="file" class="form-control" name="ThumbnailPath2" accept="image/*" >
                    @Html.ValidationMessageFor(model => model.ThumbnailPath2, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.IsOnlyImage, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IsOnlyImage, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IsOnlyImage, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>

    <div>
        @Html.ActionLink("Trở lại danh sách", "Index")
    </div>
}
